# maven
dependency-reduced-pom.xml
target/

# Eclipse
bin/
.settings/
.project
.classpath
.metadata
*.launch

# Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# IntelliJ
.idea/
*.ipr
*.iws
*.iml
*.eml
out/
